{% extends "global/Base.html" %} {% load staticfiles otree_tags %} {% block title %} Feedback Round 7 {% endblock %} {% block content %}
<p>
</td></tr>Players (not including yourself) who did not accept their Individual Share:	</td><td><b>Player 4</b></td></tr>
<tr><td colspan="2"><hr/></td></tr>
<tr><td>Shown below is the feedback written only by other players who have chosen to enter a response:</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><b>Player 4: "come on! i decline my share until people contribute at lest ₹4."</b></td></tr>
 </p>
{% next_button %} {% endblock %}