{% extends "global/Base.html" %} {% load staticfiles otree_tags %} {% block title %} Feedback Round 4 {% endblock %} {% block content %}
<p>
</td></tr><b>Player 4</b> has chosen to turn down his/her individual share from this round.</td><td></td></tr></p>
<p><tr><td>Shown below is the feedback written only by other players who have chosen to enter a response:</td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td><b>Player 4: "Hi all, i refuse to take my share until everyone puts in at least rs 4"</b></td></tr>
 </p>
{% next_button %} {% endblock %}