{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Updated Results Round {{ round_number }} 
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>Player</th>
    <th>Input</th>
	<th>Individual Share</th>
	<th>Accepted Payment?</th>
  </tr>
  <tr>
      <td>{% if player.acceptance == 'No' %}<span class="text-danger">You</span>{% else %}You{% endif %}</td>
    <td>{% if player.acceptance == 'No' %}<span class="text-danger">{{ player.contribution }}</span>{% else %}{{ player.contribution }}{% endif %}</td>
    <td> {% if player.acceptance == 'No' %}<span class="text-danger">₹ 0.00</span> {% else %} {{ group.individual_share }}   {% endif %}</td>
    <td>{% if player.acceptance == 'No' %}<span class="text-danger">{{ player.acceptance }}</span> {% else %}{{ player.acceptance }}{% endif %}</td>
  </tr>
  {% for p in player.get_others_in_group %}
  <tr>
    <td>{% if p.acceptance == 'No' %}<span class="text-danger">Player {{ p.id_in_group }}</span> {% else %}Player {{ p.id_in_group }}{% endif %}</td>
    <td>{% if p.acceptance == 'No' %}<span class="text-danger">{{ p.contribution }}</span>{% else %}{{ p.contribution }}{% endif %}</td>
    <td>{% if p.acceptance == 'No' %}<span class="text-danger">{% if p.acceptance == 'Yes' %} {{ group.individual_share }} {% else %} ₹ 0.00 {% endif %}</span>{% else %}{% if p.acceptance == 'Yes' %} {{ group.individual_share }} {% else %} ₹ 0.00 {% endif %}{% endif %}</td>
    <td>{% if p.acceptance == 'No' %}<span class="text-danger">{{ p.acceptance }}</span>{% else %}{{ p.acceptance }}{% endif %}</td>
  </tr>
  {% endfor %}
  
  <tr>
    <td>Player 4</td>
    <td>₹ 5.00</td>
    <td>{{ group.individual_share }}</td>
    <td>{{ player_5_response }}</td>
  </tr>
  
  <tr>
    <td>Player 5</td>
    <td>₹ 3.00</td>
    <td>{{ group.individual_share }}</td>
    <td>Yes</td>
  </tr>
  
</table>

</body>
</html>

<br>

    {% next_button %}
    
{% endblock %}
